.form-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;

    label {
        margin-bottom: 5px;
        font-size: 14px;
        font-weight: bold;
        color: #333;
    }

    input {
        height: 35px !important;
        padding: 5px 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 14px;
        width: 300px;
        max-width: 100%;

        &:focus {
            outline: none;
            border-color: #007bff;
            box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
        }
    }

    .error-message {
        color: red;
        font-size: 12px;
        margin-top: 5px;
    }
}
